/* Підключення шрифта (не видаляти) */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    margin: 0px;
    font-family: "Inter", sans-serif;

}

header{
   display: flex;  
   height: 100px;
   padding: 17px 0;
   max-width: 1440px;
   justify-content: space-around;
}

.menu-elements:hover {
    color: blue;
}

ul.menu {
    display: flex;
    list-style: none;
    gap: 40px;
}

img.logo {
    width: 89px;
    height: 66px;
}

ul.menu li a {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 93%;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    transition: 0.3s;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

div.hero-section {
    display: flex;
    border-radius: 32px;
    padding: 40px;
    height: 550px;
    max-width: 1200px;
    min-height: 550px;
    background-position: bottom right;
    background-size: 75%;
    background-repeat: no-repeat;
    background-origin: padding-box;
    background-image: url(poco-m6-pro-blk-04-1600x1600.webp.png);
    background-color: #D3E9FF;
    flex-direction: column;
    justify-content: center;
}

div.hero-section h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 145%;
    color: #000;
}

div.hero-section button {
    border: 1px solid #000;
    border-radius: 200px;
    padding: 14px 85px;
    width: 375px;
    height: 50px;
    background: #d3e9ff;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    color: #000;
    transition: 0.3s;
    color: black;    
}

div.hero-section button a {
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

div.hero-section button:hover {
    background-color:black;
    color: white;
    cursor: pointer;
}

div.hero-section button a:hover {
    color: white;
}

.title, .price {
    font-weight: 600;
    line-height: 125%;
    color: #000;
    margin-bottom:28px ;
} 

.price {
    color: #645FD3;
    font-size:22px;
}

.title {
    font-size: 28px;
}

.product-card {
    border: 1px solid #000;
    border-radius: 32px;
    padding: 20px;
    width: 280px;
    height: 386px;
}

.products-container {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap:20px;
}

.products-section {
    text-align:center;
    margin: 40px 0;
    padding: 40px 0;
}

.contact-section {
    background-color:#d3e9ff;
    border-radius: 16px;
    padding: 43px 0px;
    height: 478px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 23px;
}

.contact-section h2 {
    font-weight: 500;
    font-size: 42px;
    line-height: 125%;
    text-align: center;
    color: #000;
}

.contact-section img {
    width: 241px;
    height: 181px;
}

.contact-section input[type="tel"] {
    border: 1px solid #000;
    border-radius: 54px 0 0 54px;
    padding: 16px 23px;
    width: 270px;
    height: 50px;
    background-color:#d3e9ff;
    box-sizing: border-box;
    margin: 0;
}

.contact-section input[type="tel"]::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #000;
}

.contact-section input[type="submit"] {
    border-radius: 0 200px 200px 0;
    padding: 16px 33px;
    width: 150px;
    height: 50px;
    background-color:black;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    color: white;
    margin: 0;
}

form {
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: space-between;
    background: #f8f9fa;
    padding: 40px 120px;
}

footer div {
    display: flex;
}

footer img {
    width: 90px;
    height: 68px;
}

footer ul li {
    font-weight: 400;
    font-size: 17px;
    line-height: 127%;
    color: #000;
    list-style: none;
    margin: 15px;
}

.social {
    font-weight: 400;
    font-size: 22px;
    line-height: 125%;
    color: #000;
    list-style: none;
}
